# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Docs to ignore
PROJECT_RULES.md
design_guidelines.md
開発における必要なコマンドを書いておく.md
