@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@theme {
  --color-primary: #10b981;
  --color-background: #050505;
  --color-surface: #0f1110;
  --color-text-main: #ecfdf5;

  --font-mono: "Courier New", "Roboto Mono", monospace;
  --font-sans: "Inter", "Helvetica", sans-serif;
}

@utility avatar-noise {
  filter: grayscale(100%) contrast(120%);
  position: relative;
  overflow: hidden;
}

@utility noise-bg {
    background-color: var(--color-background);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

